@charset "utf-8";
 /*
	Description: 美女（微信版）官方皮肤
	Version: v1.0
	Author: jessy
	Tags: mfhui
*/

/**
 * portrait----竖屏
 * landscape---横屏
 */

/* ---------------------------------------- 通用 ---------------------------------------- */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, select, th, td { margin:0px; padding:0px; }
body { background:#ffffff; -webkit-text-size-adjust:none; font-size:medium; line-height:1.5; font-family:Helvetica, sans-serif; color:#646464; }
button, input, textarea, select { font-size:medium; }
h1, h2, h3, h4, h5, h6, strong { font-weight:100%; }
/**{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0.5); }*/
ul, ol { list-style:none; }
img { border:none; }
a { text-decoration:none; -webkit-tap-highlight-color:rgba(0 ,0 ,0 , 0.5); color:#646464; /*-webkit-user-select:none;*/ }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { display:block; margin:0px; padding:0px; }

/**
 * explanation:布局;
 */
body { max-width:640px; margin:0px auto; }
.main_area { position:relative; }


/**
 * explanation:文章列表;
 */
.article_list { position:relative; overflow:hidden; }
.article_list li { float:left; width:100px; margin:5px 0px 0px 5px; }
.article_list .pic { position:relative; display:block; width:100px; height:150px; color:#ffffff; overflow:hidden; }
.article_list .img { position:absolute; bottom:0px; left:0px; max-width:100%; }
.article_list .beauty_name {
	position:absolute; bottom:0px; right:4px; padding:1px 4px; font-size:small; background-color:rgba(0, 0, 0, 0.3);
	-wbkit-border-radius:5px 5px 0px 0px; border-radius:5px 5px 0px 0px;
}

.article_list_mod { padding-top:40px; }
/*瀑布流模块的标题*/
.ui_history_title .history { background-image:url(../images/bg_history_title.png); background-repeat:no-repeat; background-size:96px 18px; }
.ui_btn_attention { background-image:url(../images/bg_btn_attention.png); background-size:90px auto; background-repeat:no-repeat; }
.ui_history_title .bd { position:relative; height:40px; }
.ui_history_title { position:fixed; top:0px; left:0px; right:0px; z-index:10; height:40px; background-color:rgba(0, 0, 0, 0.5); }
.ui_history_title .history { display:block; width:96px; height:18px; background-position:0px center; padding:11px 0px; margin:0px auto; text-indent:-999px; overflow:hidden; }
.ui_btn_attention { position:absolute; top:10px; right:0px; height:24px; padding-left:24px; padding-right:4px; background-position:left top; color:#ffffff; font-size:small; line-height:24px; }

/**
 * explanation:美女详情;
 */
.article_detail { }
.article_title { position:relative; padding:6px 0px; font-size:small; }
.article_title .avatar_wrap,
.article_title .avatar {
	display:block; width:56px; height:56px;
	-webkit-border-radius:56px; border-radius:56px;
}
.article_title .avatar_wrap { position:absolute; top:6px; left:6px; border:3px solid #d9d9d9; }
.article_title .beauty_name { font-size:x-large; color:#000000; }
.article_content { color:#646464; line-height:1.25; }
.article_content img { max-width:100%; height:auto; }
.article_content p { padding:4px 0px; }

/**
 * 分享模块
 */
.share_mod { display:-webkit-box; border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; }

/**
 * explanation:评论模块;
 */
.comments_mod .bd { background-image:url(../images/bg_eee.png); background-repeat:repeat; }
.comments_mod { background-image:url(../images/bg_f4f.png); background-repeat:repeat; }
.comments_mod { background-color:#f5f5f5; }
.comments_mod .hd { position:relative; padding:16px 6px; border-bottom:1px solid #cccccc; }
.comments_mod .hd_meta { display:none; }
.comments_mod .hd_t { font-size:large; }
.comments_mod .arrow {
	position:absolute; z-index:1; bottom:-1px; left:30px; border-width:12px; border-style:solid; border-color:transparent transparent #cccccc transparent; font-size:0px;
}
.comments_mod .arrow::before {
	content:""; position:absolute; z-index:2; bottom:-13px; left:-12px; border-width:12px; border-style:solid; border-color:transparent transparent #ffffff transparent;
}
.comments_mod .arrow::after {
	content:""; position:absolute; z-index:2; bottom:-14.5px; left:-12px; border-width:12px; border-style:solid; border-color:transparent transparent #e8e8e8 transparent;
}

.comments_mod .bd { background-color:#e8e8e8; }
.comments_list li { position:relative; padding:8px 12px; border-top:1px solid #ffffff; border-bottom:1px solid #cccccc; }
.comments_list .author_name { color:#000000; }
.comments_list .comment_time { position:absolute; top:10px; right:12px; font-size:small; color:#999999; }
.comments_list .comment_body { padding-top:4px; font-size:small; }
/**
 * explanation:评论表单模块;
 */
.comment_form_mod { background-image:url(../images/bg_f4f.png); background-repeat:repeat; }
.comment_form_mod { position:relative; background-color:#f5f5f5; }
.comment_form_mod .hd { padding:16px 6px 0px 6px; }
.comment_form_mod .hd_t { font-size:large; }
.comment_form_mod .bd { padding:6px; }
.comment_form_mod .error { position:absolute; top:20px; right:0px; display:none; font-size:small; color:#ff0000; }
.comment_form_mod .ui_input_line { padding-bottom:10px; display:-webkit-box; }
.comment_form_mod .ui_input_file {
	padding:6px; background-color:#ffffff; border:1px solid #a9a9a9; outline:none;
	-webkit-box-shadow:inset 0px 2px 5px rgba(0, 0, 0, 0.3); box-shadow:inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.comment_form_mod .input_author { display:block; margin-right:25px; -webkit-box-flex:1; }
.comment_form_mod .input_comment { display:block; min-height:90px; -webkit-box-flex:1; }
.comment_form_mod .input_submit { 
	display:inline-block; padding:6px 14px; border:1px solid rgba(136, 136, 136, 0.8);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d9d9d9));
	background-image: -webkit-linear-gradient(top, #ffffff, #d9d9d9);
	background-image: linear-gradient(top, #ffffff, #d9d9d9);
}

/**
 * 评论向下加载更多模块
 */
.comment_nav { text-align:center; border-top:1px solid #ffffff; border-bottom:1px solid #cccccc; font-size:small; }
.comment_nav a { display:block; padding:8px 0px; color:#999999; }

/**
 * explanation:推广微信账号;
 */
.other_weixin_mod { background-image:url(../images/bg_f4f.png); background-repeat:repeat; }
.other_weixin_mod .hd { padding:16px 6px; border-bottom:1px solid #cccccc; }
.other_weixin_mod .hd_t { font-size:large; }
.other_weixin_mod { background-color:#f5f5f5; }
.other_weixin_mod .pic { display:block; width:56px; height:56px; margin:0px auto; padding:3px; background-color:#d9d9d9; border-radius:56px; }
.other_weixin_mod .img { width:56px; height:56px; border-radius:56px; }
.other_weixin_mod .description { font-size:small; }
.recom_weixin_list { }
.recom_weixin_list li { 
	clear:both; padding:8px 0px; min-height:62px; border-top:1px solid rgba(255, 255, 255, 0.2); border-bottom:1px solid rgba(0, 0, 0, 0.2);
	display:-webkit-box;
}
.recom_weixin_list .item_pic { width:25%; text-align:center; }
.recom_weixin_list .item_pic .img { vertical-align:middle; }
.recom_weixin_list .item_info { -webkit-box-flex:1; }
.other_weixin_list { clear:both; padding-top:8px; border-top:1px solid #ffffff; overflow:hidden; }
.other_weixin_list li { float:left; width:25%; padding:8px 0px; text-align:center; }
.other_weixin_list span { display:block; padding-top:4px; color:#000000; }

/**
 * explanation:UI;
 */
/* 分享至朋友圈、关注微信号 */
.ui_share_friends,
.ui_follow_weixin {
	position:relative; display:block; padding:6px 0px; text-align:center; font-weight:700;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d9d9d9));
	background-image: -webkit-linear-gradient(top, #ffffff, #d9d9d9);
	background-image: linear-gradient(top, #ffffff, #d9d9d9);
	-webkit-box-flex:1;
}
.ui_share_friends { border-right:1px solid #c1c1c1; }
.ui_share_friends s,
.ui_follow_weixin s { display:inline-block; width:23px; height:23px; margin-right:6px; background-image:url(../images/icon_share_sns.png); background-repeat:no-repeat; background-size:23px auto; vertical-align:-6px; }

.ui_share_friends s { background-position:0px 0px; }
.ui_follow_weixin s { background-position:0px -23px; }

/*文章详情的固定导航*/
.ui_fix_menu strong { background-image:url(../images/icon_fix_menu.png); background-repeat:no-repeat; background-size:20px auto; }
.ui_fix_menu {
	position:fixed; bottom:2px; left:0px; z-index:10; width:60px; background-color:rgba(0, 0, 0, 0.5); font-size:small; text-align:center;
	-webkit-border-radius:0px 8px 8px 0px; border-radius:0px 8px 8px 0px;
}
.ui_fix_menu a { display:block; padding:4px; border-top:1px solid rgba(255, 255, 255, 0.4); border-bottom:1px solid rgba(0, 0, 0, 0.4); color:#ffffff; }
.ui_fix_menu a:first-child { border-top:none; }
.ui_fix_menu a:last-child { border-bottom:none; }
.ui_fix_menu strong { display:block; padding-right:16px; line-height:20px; font-weight:400; }
.ui_fix_menu .comment strong { background-position:right -1px; }
.ui_fix_menu .like strong { background-position:right -21px; }
.ui_fix_menu .top strong { padding-top:20px; padding-right:0px; background-position:center -40px; }
/*往期美女回顾的UI*/
.ui_history {
	position:absolute; top:6px; right:0px; padding:3px 4px 3px 10px; background-color:rgba(0, 0, 0, 0.4); color:#ffffff; font-size:small; z-index:1;
	-webkit-border-radius:40px 0px 0px 40px; border-radius:40px 0px 0px 40px;
}

/*文章列表当中的加载更多的UI*/
.ui_loading_more s { background-image:url(../images/icon_darr_uarr.png); background-repeat:no-repeat; background-size:16px auto; }
.ui_loading_more { }
.ui_loading_more a { display:block; padding:10px 0px; color:#999999; text-align:center; }
.ui_loading_more s { display:inline-block; width:16px; height:16px; background-position:0px 0px; vertical-align:-3px; }

/**
 * explanation:回到顶部;
 */
.ui_scroll_top { border-top:1px solid rgba(0, 0, 0, 0.2); }
.ui_scroll_top a { display:block; height:35px; color:#999999; text-align:center; line-height:35px; }
.ui_scroll_top s { display:inline-block; width:16px; height:16px; background:url(../images/icon_darr_uarr.png) no-repeat 0px -17px; background-size:16px auto; vertical-align:-2px; }




/* ---------------------------------------- Apple系列 ---------------------------------------- */
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	/* Styles */
}

/* iPhone 4S - (portrait and landscape) ---------- */
@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {

}

/* iPhone 4S - (portrait) ---------- */
@media only screen and (-webkit-min-device-pixel-ratio : 2) and (orientation:portrait), only screen and (min-device-pixel-ratio : 2)  and (orientation:portrait){

}

/* iPhone 4S - (landscape) ---------- */
@media screen and (-webkit-min-device-pixel-ratio : 2) and (orientation:landscape), screen and (min-device-pixel-ratio : 2) and (orientation:landscape){

}

/* iPad (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	/* Styles */
}
/* iPad (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* Styles */
}
/* iPad (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/* Styles */
}


/* ---------------------------------------- Android系列 ---------------------------------------- */

/*android手机的多分辨率*/
/* for 240 px width screen */
@media only screen and (max-device-width:240px){
	.ui_history { padding:0px; background-color:none; -webkit-border-radius:0px; border-radius:0px; z-index:1; }
	.ui_history { background-image:url(../images/bg_history.png); background-repeat:no-repeat; }
	.ui_history { position:absolute; top:8px; right:0px; width:80px; height:21px; padding-left:12px; background-size:102px auto; color:#ffffff; font-size:small; line-height:21px; }
}

/* for 360px width screen */
@media only screen and (min-device-width:241px) and (max-device-width:360px){

}

/* for 480 px width screen */
@media only screen (min-device-width:361px)and (max-device-width:480px){

}

/* device-aspect-ratio 特定屏幕长宽比例 */

/* for 4:3 screen */
@media only screen and (device-aspect-ratio:4/3){

}

/* for 16:9 and 16:10 screen */
@media only screen and (device-aspect-ratio:16/9) and (device-aspect-ratio:16/10){

}

/* for 480px*800px width screen */
@media only screen (device-aspect-ratio:5/3){

}